# Files and directories created by pub.
*/.dart_tool/
*/.packages

# Conventional directory for build output.
*/build/

# pubspec.lock
*/pubspec.lock

# MacOS Specific
.DS_Store

# Windows Specific
Thumbs.db

# Local authentication/token material
/unpub/tokens.json
/unpub/un-identified tokens.txt

